@charset "UTF-8";
*{
    color:white;
}
body{
    background-color: gray;
}
header{
    display: flex;
    
}
#main_top_text{
    color: rgba(221, 210, 171, 0.634);
}
footer p{
    text-align: center;
}